body {
    margin: 10px auto;
    box-sizing: border-box;
    background-color: #008F8C;
}

.title {
    max-width: 300px;
    margin: 0 auto;
    padding: 5px;
}

.odin-recipes {
    padding: 30px;
    background-color: #548CA8;
    text-align: center;
    color: white;
    border: 5px solid #D8FFDB;
    border-radius: 50px;
}

.list li {
    text-align: center;
    min-width: 200px;
    max-width: 200px;
    list-style: none;
    padding: 15px;
    background-color: #023535;
    border-radius: 50px;
    margin-left: 812px;
    margin-top: 10px;
}

a {
    color: white;
}