body {
    margin: 10px auto;
    box-sizing: border-box;
}

.title {
    max-width: 300px;
    margin: 0 auto;
    padding: 5px;
}

.odin-recipes {
    padding: 30px;
    background-color: #548CA8;
    text-align: center;
    color: white;
    border: 5px solid #08b39c;
    border-radius: 50px;
}

.list {
    text-align: center;
    margin: 10px auto;
    padding: 10px;
}

.list li {
    display: inline-block;
    text-align: center;
    min-width: 200px;

    padding: 15px;
    background-color: #14c0bd;
    border-radius: 50px;
    margin: 5px;
}

a {
    color: white;
}